In [1]:
import pandas as pd

df = pd.read_csv('Google_Stock_Price.csv')

df

,symbol,date,open,high,low,close,volume,adjclose,dividends,splits
0,GOOG,2018-01-02,52.417000,53.347000,52.261501,53.250000,24752000,53.059353,0.0,0.0
1,GOOG,2018-01-03,53.215500,54.314499,53.160500,54.124001,28604000,53.930225,0.0,0.0
2,GOOG,2018-01-04,54.400002,54.678501,54.200100,54.320000,20092000,54.125519,0.0,0.0
3,GOOG,2018-01-05,54.700001,55.212502,54.599998,55.111500,25582000,54.914188,0.0,0.0
4,GOOG,2018-01-08,55.111500,55.563499,55.081001,55.347000,20952000,55.148846,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1756,GOOG,2024-12-24,196.169998,197.669998,195.197998,197.570007,6809800,197.570007,0.0,0.0
1757,GOOG,2024-12-26,196.740005,198.160004,195.869995,197.100006,7907900,197.100006,0.0,0.0
1758,GOOG,2024-12-27,196.470001,196.800003,191.972000,194.039993,14693000,194.039993,0.0,0.0
1759,GOOG,2024-12-30,190.865005,193.779999,190.360001,192.690002,12209500,192.690002,0.0,0.0
1760,GOOG,2024-12-31,192.445007,193.250000,189.580002,190.440002,14355200,190.440002,0.0,0.0